*{
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    box-sizing: border-box;
}
/* .navy{
    display: flex;
} */
.header{
    height: 100px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #05054b;
    color: white;
}
.logo{
    font-size: 27px;
    font-weight: bold;
}
.links{
    display: flex;
    gap: 20px;
}
li{
    list-style: none;
}
a{
    color: white;
    text-decoration: none;
}
.content{
    height: 300px;
    display: flex;
    background-color: #05054b;
    color: white;
    align-items: center;
    justify-content: space-evenly;

}
.sign{
    height: 300px;
    width: 400px;
    padding-top: 40px;
}
.holder{
    width: 350px;
    height: 150px;
    background-color: #878484;
    display: flex;
    justify-content: center;
    align-items: center;
}
button{
    font-size: 20px;
    background-color: #2468dd;
    color: white;
    border: 1px solid white;
    border-radius: 2px;
}
.info{
    height: 100px;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    padding: 15px;
}
.boxes{
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-bottom: 20px;
}
.box{
    width: 170px;
    height: 170px;
    border: 2px solid blue;
    border-radius: 4px;
}
.txt{
    width: 170px;
    text-align: center;
    margin-top: 5px;
}
.thought{
    height: 200px;
    background-color: #878484;
    color: white;
    padding: 30px;
}
.action{
    height: 100px;
    background-color: #2468dd;
    color: white;
    display: flex;
    justify-content: center;
    gap: 400px;
}
.butt{
    padding: 30px;
}
.footer{
    height: 50px;
    background-color: #05054b;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
